<div data-author="<%= message.user.id %>" class="message-container-<%= message.user == current_user ? 'current-user' : 'other-user'%>" id="message-<%= message.id %>">
  <i class="author">
    <p><%= message.user.first_name %></p>
  </i>
  <div class="chat-bubble"><%= message.content %></div>
</div>
