<%= render 'shared/logo-login-purple' %>
<div class="main-container chat-container">
  <h3 class="chat-header mt-2 d-flex">
    <%= link_to chatrooms_path do %>
      <div class="chat-back-button"><i class="fas fa-chevron-left"></i></div>
    <% end %>
    <span class="chat-title"><%= @event.title  %></span>
  </h3>

  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>

  <div class="chatroom-input mb-5">
    <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
      <div class="input-container">
        <%= f.input :content, label: false, placeholder: "Message #{@event.title}", input_html: {class: "sticky-message"} %>
      </div>
    <% end %>
  </div>
</div>
