<div class="banner">
  <%= render 'shared/logo-login-purple' %>
  <%  if params[:query].present? %>
     <h4 class="mt-2">Events in <%= params[:query].capitalize %></h4>
  <% else %>
     <h4 class="mt-2">All results</h4>
  <% end %>
</div>
<div class="main-container position-relative">
  <div class="search-form position-absolute" style="z-index: 1100; left: 0; right: 0; margin: auto; top: -22.5px;">
     <%= form_tag events_path, method: :get, class: "events-search-form" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control rounded-search mb-3 index-search", placeholder: "Search by keyword / category / location..."%>
        <%= hidden_field_tag :category, class: "events-search-category" %>
      <% end %>
  </div>
  <div class="details-filter">
    <p><%= @events.count %> events found</p>
  </div>

  <div class="category-group-visible ml-3 mt-1">
    <div class="row">

      <% @events.categories.in_groups_of(4)[0].each do |item| %>
        <% unless item.nil? %>
          <%= render "shared/event-category-pill", item: item, selected: item == @category %>
        <% end %>
      <% end %>
      <i class="fas fa-chevron-down" id="more-categories"></i>
      </div>
    </div>
    <div class="category-group hide ml-3">
    <div class="row">
      <% @events.categories.in_groups_of(4)[1].each do |item| %>
        <% unless item.nil? %>
          <%= render "shared/event-category-pill", item: item, selected: item == @category %>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="category-group hide ml-3">
    <div class="row">
      <% @events.categories.in_groups_of(4)[2].each do |item| %>
        <% unless item.nil? %>
        <%= render "shared/event-category-pill", item: item, selected: item == @category %>
        <% end %>
      <% end %>
      </div>
    </div>

  <div class="cards-container mt-2">  
    <% @events.order(start_time: :asc).each do |event|  %>
      <% unless event.completed? %>
        <%= link_to event_path(event), class: 'link-style' do %>
          <%= render "event_card", event: event %>
        <% end %>
      <% end %>
    <% end %>
    <div class="centered-button-container">
      <%= link_to map_path do %>
        <a href="/map" class="map-view-button sticky"><i class="far fa-map"></i>  Map View</a>
      <% end %>
    </div>
  </div>
</div>
