<div class=show-banner-img>
  <% if @event.photos.attached? %>
    <img src="<%= cl_image_path @event.photo.key %>" id="show-image">
  <% else %>
    <img src="https://images.unsplash.com/photo-1561026555-13539e82532f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=967&q=80" id="show-image">
  <% end %>
</div>
<div class=show-banner-content>
    <h1><%= @event.title %></h1>
    <p><%= @event.organization.name %></p>
</div>
<div class="icons">
            <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, event_path(@event), method: :delete,
            data: { confirm: "Are you sure?" }%>
          <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_event_path(@event) %>
          </div>
<div class="container">
  <p><i class="fas fa-map-marker-alt"> </i><%= @event.location %></p>
  <p><i class="fas fa-star"> </i><%= @event.start_time %></p>
  <h3>About the event</h3>
  <p><%= @event.description %></p>
<div>
  <p>Who's coming?</p>
  <p><i class="fas fa-user-astronaut"></i> <%= @event.user.first_name %></p>
<div class="search-form">
   <%= form_tag events_path, method: :get do %>
    <%= submit_tag "5 spots left", class: "primary-button"%>
    <% end %>
</div>
<p>How to get there</p>
<p><i class="fas fa-map-marker-alt"></i> <%= @event.location %></p>
</div>
</div>




<% unless @event.is_full? %>
<%= simple_form_for [@event, @booking] do |f| %>
  <%= f.input :attending, as: :hidden, input_html: {value: true} %>
  <%= f.button :submit %>
<% end %>
<% end %>






<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>






<div class="container">
    <div class="show-title">
    </div>
      <div class="description-booking">
        <div class="description">
        <div class="description-edit d-flex justify-content-between">
          <h1><%= @event.title %></h1>
          <div class="icons">
            <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, event_path(@event), method: :delete,
            data: { confirm: "Are you sure?" }%>
          <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_event_path(@event) %>
          </div>
        </div>
          <p><i class="fas fa-star"></i> 4.8 <%= @event.location %></p>
          <p><i class="fas fa-user-astronaut"></i> <%= @event.user.first_name %> guests - <i class="fas fa-bed"></i></p>
          <hr>
          <p><%= @event.description %></p>
        </div>
          <div class="booking">
            <div class="container">
              <div class="form-wrapper" style="margin: 0 auto;">
                <h3>Reserve your luxury home</h3>
                <p>Give us some details first.</p>

              </div>
            </div>
         </div>
      </div>
  </div>
</div>
