<div class="main-container">
<%# here comes the avatar %>
<h1 style="text-align: center;">Hello <%= current_user.first_name %></h1>
  <div class="personal-vol-info">
    <% if current_user.hours_volunteered > 0 %>
      <ul>
        <li style="list-style: none; font-size: 12px;"><%= current_user.hours_volunteered %> hours of volunteering</li>
      </ul>
      <% else %>
        <ul>
          <li style="list-style: none; font-size: 12px;">You don't have any volunteering hours gained</li>
        </ul>
    <% end %>
  </div>
  <div class="status-card">
    <div class="upcoming-card text-align-center">
      <h1><%= current_user.events.size %></h1>
       <p>upcoming events</p>
    </div>
    <div class="completed-card">
      <h3><%= current_user.events.completed.size %> Completed Events</h3>
    </div>
  </div>
  <% @events.each do |event|  %>
      <div class="event-card">
        <% if event.photos.attached? %>
           <img src="<%= cl_image_path event.photos.first.key %>" alt="..." id="event-image">
          <% else %>
           <img src="https://res.cloudinary.com/kennedyodegaard/image/upload/v1607524305/nx5c2nwp3ragtvuihxeui53bqcph.jpg" id="event-image">
          <% end %>
        <div class="card-information">
          <div class="card-info">
            <p><i class="far fa-calendar-alt"></i>  <%= event.start_time.strftime("%A, %b %d") %></p>
            <img src="https://res.cloudinary.com/kennedyodegaard/image/upload/v1607513661/Vectorheart_bx0iai.png" id="heart">
          </div>
          <h6><%= event.title %></h6>
          <div class="card-info2">
            <p><%= event.user.first_name %> <%= event.user.last_name %></p>
            <p><%= event.capacity %> spots</p>
          </div>
          <hr>
        </div>
    </div>
    <% end %>
</div>
