<%= wicked_pdf_stylesheet_link_tag('certificate') %>

<div class="certificate-container">
  <div>
    <a href="/"><img src="https://res.cloudinary.com/kennedyodegaard/image/upload/v1607956799/Vector_1logo-purple_todvjd.png" width="40" height="40" alt=""> Upfluential</a>
  </div>

  <div class="mt-1">
    <h1 style="letter-spacing: 2px;">CERTIFICATE</h2>
    <h3 class="font-weight-light" style="letter-spacing: 4px;">OF COMPLETION</h3>
  </div>

  <h1 style="font-size: 200px; line-height: 0.1;">-</h1>

  <h3><span class="font-weight-light mt-1"><%= current_user.first_name %> </span> <%= current_user.last_name %></h3>
  <% if current_user.photo.attached? %>
    <img class="avatar-dashboard avatar"  src=" <%= cl_image_path current_user.photo.key%> " alt="face">
  <% else %>
    <div class="avatar-dashboard no-pic-avatr">
    </div>
  <% end %>

  <div class="personal-vol-info">
    <% if current_user.hours_volunteered > 0 %>
        <p><%= current_user.hours_volunteered %><span class="font-weight-light"> hours of volunteering for </span><%= current_user.bookings.count %> <span class="font-weight-light">different charities:</span></p>
      <% else %>
        <p>You don't have any volunteer hours logged yet.</p>
    <% end %>
  </div>
  <% current_user.events.completed.each do |event|  %>
    <p><%= event.title %> <%= event.start_time %></p>
  <% end %>
 </div>
