<%= wicked_pdf_stylesheet_link_tag('application') %>

<div class="certificate-container">
  <div>
    <img src="https://res.cloudinary.com/kennedyodegaard/image/upload/v1607956799/Vector_1logo-purple_todvjd.png" width="25" height="25" alt="">
    <h1>Upfluential</h1>
    <h2>VOLUNTEER HISTORY FOR</h2>
  </div>
  <h3><span class="font-weight-light"><%= current_user.first_name %> </span> <%= current_user.last_name %></h3>
  <% if current_user.photo.attached? %>
    <img class="avatar-dashboard avatar"  src=" <%= cl_image_path current_user.photo.key%> " alt="face">
  <% else %>
    <div class="avatar-dashboard no-pic-avatr">
    </div>
  <% end %>
  <div class="personal-vol-info">
    <% if current_user.hours_volunteered > 0 %>
        <h3><%= current_user.hours_volunteered %><span class="font-weight-light"> hours of volunteering for </span><%= current_user.bookings.count %> <span class="font-weight-light">different charities</span></h3>
      <% else %>
        <p>You don't have any volunteer hours logged yet.</p>
    <% end %>
  </div>
</div>
