<%= render 'shared/logo-login-purple' %>

<% if @organization.photos.attached? %>
  <div class="show-banner-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.4)), url('<%= cl_image_path @organization.photos.first.key %>');" id="org-image">
  </div>
<% else %>
  <div class="show-banner-img">
    <img src="https://images.unsplash.com/photo-1561026555-13539e82532f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=967&q=80" id="show-image">
  </div>
<% end %>



<div class="main-container">
  <div class="show-banner-content">
    <h1><%= @organization.name %></h1>
    <a href="https://<%=@organization.website%>" target="_blank"> <%= @organization.website %></a>
    
  </div>
  

  <div class="edit-delete-details">
    <div class="org-detail">
      <div class="location-icon">
        <i class="fas fa-map-marker-alt"></i>
        <div>
          <p><%= @organization.location.split(" ")[0...-2].join(" ") %></p>
          <p><%= @organization.location.split(" ")[-2..-1].join(" ") %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="about">
    <h3>About Our Organization</h3>
    <p class="font-weight-light" style="font-size: 14px;"><%= @organization.description %></p>
  </div>

  <div class="events">
    <h3>Upcoming Events</h3>
    <div class="cards-container mt-2">
      <% if @organization.events.empty? %>
          <p id="no-events" class="font-weight-light">No upcoming events, go to volunteermatch.org </p>
        <% else %>
            <% @organization.events.each do |event|  %>
              <%= link_to event_path(event), class: 'link-style' do %>
                <div class="event-card">
                  <% if event.photos.attached? %>
                    <img src="<%= cl_image_path event.photos.first.key %>" alt="..." id="event-image">
                    <% else %>
                    <img src="https://res.cloudinary.com/kennedyodegaard/image/upload/v1607524305/nx5c2nwp3ragtvuihxeui53bqcph.jpg" id="event-image">
                    <% end %>
                  <div class="card-information">
                    <div class="card-info" id="event_<%= event.id %>">
                      <p><i class="far fa-calendar-alt"></i>  <%= event.start_time.strftime("%A, %b %d") %></p>
                        <% if current_user.favorited?(event) %>
                          <%= link_to event_favorite_path(event), method: :delete do %>
                            <i class="fas fa-heart"></i>
                          <% end %>
                        <% else %>
                          <%= link_to event_favorites_path(event), method: :post do %>
                            <i class="far fa-heart"></i>
                          <% end %>
                        <% end %>
                    </div>
                    <h6><%= event.title %></h6>
                    <div class="card-info2">
                      <p><%= event.organization.name %></p>
                      <p><%= event.capacity %> spots</p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

