<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <title>Upfluential</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_red.css">
    <meta property="og:description" content="Connecting good people with good causes">
    <meta property="og:site_name" content="Connecting good people with good causes">
    <meta property="og:title" content="Connecting good people with good causes">
    <meta property="og:image" content="https://res.cloudinary.com/kennedyodegaard/image/upload/v1607506215/upfluential_hero_illustration_r2e0xb.png">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body data-user="<%= current_user&.id %>">
    <%= render 'shared/flashes' %>

    <%= yield %>
    <%= render 'shared/navbar-bottom' %>
  </body>
</html>
